
.cancelbuttons
{
    display: none;
}
.cancelbuttons:hover
{
    display: inline;
}
.notepadimage{
    height:35px;
    width:35px;
    position: fixed;
    margin-left:-25vw;
    padding: 2px;
    padding-top:6px;
}
#addbtn{
    height:25px;
    width:25px;
    position: fixed;
    margin-left:-3vw;
    padding: 2px;
    padding-top:11px;
    display: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:70vh;
    background-color: azure;
}
.maindiv{
    background-color: bisque;
    padding:5px;
    border: 1px solid black;
    min-height: 50vh;
    border-radius: 5px;
}
.labeltext{
    color: rgb(39, 19, 191);
    font-weight: 600;
}
